POSTGRES_DB=pos_rental
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/pos_rental?sslmode=disable
API_PORT=8080
WEB_PORT=3000
TURNSTILE_SECRET_KEY=isi_dengan_secret_key_cloudflare
VITE_TURNSTILE_SITE_KEY=isi_dengan_site_key_cloudflare